<!DOCTYPE html>
<html lang="en">
<head>
    <title>ToDoList</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
<!--Top div container-->
    <div class="container">
        <div class="todo-app">
            <div class="top_div">
                <h1> TodoList </h1>
                <!--Logout-->
                <form action="/logout" method="POST">
                    <button type="submit" id="logout_btn">
                        <i class="fa-solid fa-arrow-right-from-bracket fa-xl fa-rotate-180"></i> Log Out
                    </button>
                </form>
            </div>
            <!--Textbox input-->
            <div class="row">
                <input type="text" id="input-box" placeholder="Add your task" onkeydown="AddTask_Enter()">
            <!--Add button-->
                <button id="addBtn" onclick="AddTask()">
                    <span class="material-symbols-outlined"> add_circle </span>
                </button>
            </div>
            <!--Bottom div container_2-->
            <div class="container_2">
                <ul id="tasks_container">
                    <!--Adds the tasks you input here-->
                </ul>
            </div>
        </div>
    </div>
<script src="js/script.js"></script>
</body>
</html>