<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel = "stylesheet" href = "css/signUp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
    <!--Sign Up-->
    <div class = "container">
        <div class = "signUp">
            <h1>Sign Up</h1>
            <!--SignUp form-->
            <form action="/signUp" method="post">
                <!--Username div-->
                <div class="row">
                    <input type="text" id="Username" name="username" placeholder="Username" required>
                </div>
                <!--Password div-->
                <div class="row">
                    <input type="password" id="Password" name="password" placeholder="Password" required>
                    <!--Show and hide password button-->
                    <!--<button id="show_btn" onClick="show()">-->
                        <i class ="fa-solid fa-eye-slash" id="show_btn" onclick = "show(), changeIcon(this)"></i>
                    <!--</button>-->
                </div>
                <!--Sign Up button-->
                <button id="signUp_btn" onclick="signUp()" >
                    Sign Up
                </button>
                <!--Div for creating account link and text-->
                <div class="haveAcc">
                    <P>
                        <!--Text: Create an account-->
                        <span class="gradient-text">Have an account?</span>
                    </P>
                    <!--SignUp link-->
                    <a id="Login" href="/login">Login</a>
                </div>
            </form>
        </div>
    </div>
<script src="js/signUp.js"></script>
</body>
</html>
